/* Ensure the editor container takes full height */
.query-editor-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Override ace editor background in light mode to match app white background */
:not(.dark) .ace-github {
  background-color: #ffffff !important;
}

:not(.dark) .ace-github .ace_gutter {
  background-color: #f5f5f5 !important;
  border-right: 1px solid #e1e4e8 !important;
}

:not(.dark) .ace-github .ace_print-margin {
  border-left: 1px solid #e1e4e8 !important;
}

/* Override default style */
.ace_placeholder {
  /* Default: 0 */
  margin-top: 2px;
  margin-left: 0px;

  /* Default: 0.7 */
  opacity: 1;

  /* Default: italic */
  font-style: normal !important;

  /* Default: grey like color */
  color: unset !important;
}

/*
 * Override the default style to allow word-break
 */
.ace_tooltip {
  /* Default: pre, which prevents the word-break */
  white-space: pre-wrap;

  /* Default: 400px */
  max-width: 350px;
}

/*
 * Increase the width of the autocomplete suggestion dialog
 */
.ace_autocomplete {
  /* Default: 280px, increased to 400px */
  width: 400px !important;
}

/*
 * Chat mode table name highlighting
 */
.ace_table\.name {
  color: #0969da;
  font-weight: 500;
}

.dark .ace_table\.name {
  color: #58a6ff;
  font-weight: 500;
}
